<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-md-4">
            <H1 class="text-white mb-4">Quản lý</H1>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/home">Bàn</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/order">Đơn đặt bàn</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/category">Thể loại</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-danger btn-lg"><a class="text-white" href="/dish">Món ăn</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/notification">Thông báo</a>
                </button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="#">Thống kê</a></button>
            </div>
            <div class="card bg-primary text-white">
                <button type="button" class="btn btn-primary btn-lg"><a class="text-white" href="/clientAccount">Tài khoản nhân viên</a></button>
            </div>
        </div>
        <div class="col-xl-10 col-md-4">
            <div class="container-fluid mt-5">
                <div class="card mb-4">
                    <div class="card-header">
                        Danh sách món ăn
                        <button type="button" class="btn btn-primary btn float-right"><a class="text-white" href="/dish/addDish">Thêm món ăn</a></button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Stt</th>
                                    <th style="text-align: center">Ảnh</th>
                                    <th style="text-align: center">Tên món ăn</th>
                                    <th style="text-align: center">Giá tiền</th>
                                    <th style="text-align: center">Thành phần</th>
                                    <th style="text-align: center">Xóa</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
